body {
    background: #ddd;
    background-image: url(https://d3ui957tjb5bqd.cloudfront.net/images/1/bg.png);
}

.paper {
    display: block;
    margin: 50px auto;
    width: 520px;
    border: 1px solid #fff;
    padding: 50px 0;
    background: #fff;
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, .5) ,0 0 25px 0 rgba(0, 0, 0, .1), inset 0 0 15px 0 rgba(0, 0, 0, .05);
    background-image: linear-gradient(90deg, #DCEDF5 0, #DCEDF5 1px);
    background-size: 1px 1px;
    background-position: 50px 0;
    background-repeat: repeat-y;
}

.paper_in {
    display: block;
    padding: 0 50px 0 75px;
    font-size: 16px;
    line-height: 32px;
    color: #444;
    border-top: 1px solid #eee;
    background-image: linear-gradient(0deg, #eee 0, #eee 1px, transparent 1px, transparent);
    background-size: 1px 32px;
    outline: 0;
}

.paper_in * {
    color: #444 !important;
    font-family: serif !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
    line-height: 32px !important;
}